{
  "openapi": "3.0.1",
  "info": {
    "title": "Zaptec API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.zaptec.com"
    }
  ],
  "paths": {
    "/api/chargehistory": {
      "get": {
        "tags": ["ChargeHistory"],
        "summary": "Completed sessions",
        "description": "Retrieves all completed charge sessions accessible by the current user,  \r\nmatching the provided filters.  \r\nDefault page size: 50. Max: 100.",
        "operationId": "api_chargehistory_get",
        "parameters": [
          {
            "name": "InstallationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "UserId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ChargerId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "From",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "To",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "GroupBy",
            "in": "query",
            "description": "0 = group by charger (default), 1 = group by calendar day, 2 = group by user.\n\n0 = Charger\n\n1 = Day\n\n2 = User",
            "schema": {
              "$ref": "#/components/schemas/AggregateGroup"
            }
          },
          {
            "name": "DetailLevel",
            "in": "query",
            "description": "Bitflag: 0 = session summary (default), 1 = include detailed session energy data.\n\n0 = Summary\n\n1 = EnergyDetails",
            "schema": {
              "$ref": "#/components/schemas/DetailLevelFlags"
            }
          },
          {
            "name": "SortProperty",
            "in": "query",
            "description": "Name of the property used to sort the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortDescending",
            "in": "query",
            "description": "Set to true to sort items in descending order.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Number of items to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "The page index to return, first page is 0.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IncludeDisabled",
            "in": "query",
            "description": "If true, and your user has access, include disabled objects.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "description": "Get or set a list of item Id's that will be excluded from the result.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListModelPagedData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListModelPagedData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListModelPagedData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/chargehistory/installationreport": {
      "get": {
        "tags": ["ChargeHistory"],
        "summary": "Usage report (deprecated)",
        "description": "**Deprecated**: Use the POST version instead.  \r\nRetrieves a usage report based on the provided filters (requires installation owner permissions).  \r\nGET requests are limited to a 2048-character URL length and may fail if exceeded.",
        "operationId": "api_chargehistory_installationreport_get",
        "parameters": [
          {
            "name": "FromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "InstallationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "UserIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "ChargerIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "GroupBy",
            "in": "query",
            "description": "\n\n0 = User\n\n1 = Charger\n\n2 = ChargeCardName",
            "schema": {
              "$ref": "#/components/schemas/GroupByOptions"
            }
          },
          {
            "name": "ReportFormat",
            "in": "query",
            "description": "\n\n0 = Summary\n\n1 = Detailed",
            "schema": {
              "$ref": "#/components/schemas/ReportFormatOptions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": true,
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "post": {
        "tags": ["ChargeHistory"],
        "summary": "Usage report",
        "description": "Retrieves a usage report based on the provided filters (requires installation owner permissions).",
        "operationId": "api_chargehistory_installationreport_post",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationChargeHistoryModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationChargeHistoryModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationChargeHistoryModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationChargeHistoryModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CustomTotalChargerReportModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomTotalChargerReportModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomTotalChargerReportModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/chargers": {
      "get": {
        "tags": ["Charger"],
        "summary": "Chargers",
        "description": "Retrieves all chargers accessible by the current user, matching the provided filters.  \r\nBy default, returns the first 50 items. Use `pageIndex` for pagination or adjust `pageSize` (max: 100).",
        "operationId": "api_chargers_get",
        "parameters": [
          {
            "name": "Roles",
            "in": "query",
            "description": "Return only charge points where current user has any of the provided user roles. Note\r\nthat this is a bit-flag and multiple roles can be provided.\n\n0 = None\n\n1 = User\n\n2 = Owner\n\n4 = Maintainer\n\n8 = Administrator\n\n15 = Any\n\n16 = Onboarding\n\n32 = DeviceAdministrator\n\n64 = PartnerAdministrator\n\n128 = Technical\n\n256 = InternalData",
            "schema": {
              "$ref": "#/components/schemas/UserRoles"
            }
          },
          {
            "name": "DeviceType",
            "in": "query",
            "description": "Return only charge points of the provided type.\n\n0 = Unknown\n\n1 = Smart\n\n2 = Portable\n\n3 = HomeApm\n\n4 = Apollo\n\n5 = OtherApm\n\n6 = GenericApm\n\n7 = HanApm",
            "schema": {
              "$ref": "#/components/schemas/DeviceType"
            }
          },
          {
            "name": "InstallationType",
            "in": "query",
            "description": "Return only chargers installed in installations of this time.\n\n0 = Pro\n\n1 = Smart",
            "schema": {
              "$ref": "#/components/schemas/InstallationTypeCode"
            }
          },
          {
            "name": "NameFilter",
            "in": "query",
            "description": "A filter used to filter items. The filter may be applied to multiple\r\nproperties depending on the object type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ReturnIdNameOnly",
            "in": "query",
            "description": "If true objects are only returned with their basic properties like\r\nId and name.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SortProperty",
            "in": "query",
            "description": "Name of the property used to sort the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortDescending",
            "in": "query",
            "description": "Set to true to sort items in descending order.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Number of items to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "The page index to return, first page is 0.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IncludeDisabled",
            "in": "query",
            "description": "If true, and your user has access, include disabled objects.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "description": "Get or set a list of item Id's that will be excluded from the result.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChargerListModelPagedData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargerListModelPagedData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargerListModelPagedData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/chargers/{id}": {
      "get": {
        "tags": ["Charger"],
        "summary": "Charger details",
        "description": "Retrieves the specified charger (requires owner or service permissions).",
        "operationId": "api_chargers_{id}_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Charger ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChargerListModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargerListModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargerListModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/chargers/{id}/update": {
      "post": {
        "tags": ["Charger"],
        "summary": "Update charger",
        "description": "Updates charger properties (requires owner or service permissions).  \r\n<br /><br><b>Charge Current Settings:</b><br />\r\nThe `maxChargeCurrent` and `minChargeCurrent` properties should generally not be used. These are intended for special cases where an external party must override the Zaptec load balancer, which may cause unexpected behavior.<br /><br />\r\nIt is recommended to control the charging system using the installation’s `AvailableCurrent` setting instead.<br /><br><b>Offline Current/Phase Override:</b><br />\r\nUse only when charging stations must not automatically optimize offline current or phases.<br /><br />\r\n- Set `OfflineChargeCurrent` to `-1` to enable automatic allocation.<br />\r\n- Any value between `0` and `32` overrides the automatic setting. `null` is ignored.<br />\r\n- Set `OfflineChargePhase` to `0 (Phases.None)` to enable automatic allocation.<br />\r\n- Any other valid value will override the automatic setting.<br /><br />\r\nEnsure that the total of all overridden values in an installation does not exceed the fuse limit.<br /><br><b>Meter Value Interval:</b><br />\r\nControls how often periodic energy data is reported.<br /><br />\r\nThe recommended default is `30 minutes`. Setting this to `0` disables periodic reporting, affecting both session data and signed meter values.",
        "operationId": "api_chargers_{id}_update_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Charger ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Charger properties to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ChargerExternalUpdateModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargerExternalUpdateModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargerExternalUpdateModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChargerExternalUpdateModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/chargers/{id}/state": {
      "get": {
        "tags": ["Charger"],
        "summary": "Charger state",
        "description": "Retrieves the current state properties (observations) for the specified charger  \r\n(requires owner or service permissions).<br /><br />\r\nState IDs may vary by charger model.  \r\nCurrent-generation ZapCharger Smart supports <b>Observations</b> from  \r\n<a href=\"/api/constants\" target=\"_blank\">api/constants</a><br />",
        "operationId": "api_chargers_{id}_state_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Charger ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChargerStateModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChargerStateModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChargerStateModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/chargers/{id}/sendCommand/{commandId}": {
      "post": {
        "tags": ["Charger"],
        "summary": "Send charger command",
        "description": "<b>Permissions:</b> Requires owner or service-level access.<br /><br /><b>Supported Command IDs:</b><br />\r\n            - <b>102</b> – Restart the charger<br />\r\n            - <b>200</b> – Upgrade charger firmware<br />\r\n            - <b>506</b> – Stop or pause charging<br />\r\n            - <b>507</b> – Resume charging<br />\r\n            - <b>10001</b> – Deauthorize and stop charging<br /><br /><b>Command 10001 – Deauthorize and Stop:</b><br />\r\n            The caller must ensure that no new charging sessions are authorized until the command is completed.<br /><br /><b>Command 506 – Pause/Stop Charging:</b><br />\r\n                - Requires firmware version > 3.2 on PRO chargers<br />\r\n                - Typical usage: For chargers in active charging mode (state <b>ChargeOperationMode, 710</b> = 3). Other edge cases are supported,\r\n            but this is the most common scenario.<br />\r\n                - The command will be rejected if the charger is already paused (state <b>ChargeOperationMode, 710</b> = 5 and <b>FinalStopActive, 718</b> = 1)\r\n                or disconnected (state <b>ChargeOperationMode, 710</b> = 1)<br /><b>Commands 507 – Resume Charging:</b><br />\r\n                - Requires firmware version > 3.2 on PRO chargers<br />\r\n                - Typical usage: For chargers in paused state (state <b>ChargeOperationMode, 710</b> = 5 and <b>FinalStopActive, 718</b> = 1).\r\n            Other edge cases are supported, but this is the most common scenario.<br />\r\n            - The command will be rejected if the charger is not in paused mode (state <b>ChargeOperationMode, 710</b> = 5 and <b>FinalStopActive, 718</b> = 1)<br />\r\n                neither Scheduler is active (state <b>NextScheduleEvent, 763</b> is set)<br />",
        "operationId": "api_chargers_{id}_sendcommand_{commandid}_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the charger.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "commandId",
            "in": "path",
            "description": "The ID of the command to execute.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/chargerFirmware/installation/{installationId}": {
      "get": {
        "tags": ["ChargerFirmware"],
        "summary": "Firmware details",
        "description": "Retrieves firmware details for all chargers in the specified installation  \r\n(requires owner or service permissions).",
        "operationId": "api_chargerfirmware_installation_{installationid}_get",
        "parameters": [
          {
            "name": "installationId",
            "in": "path",
            "description": "Installation ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InstallationChargerFirmwareModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InstallationChargerFirmwareModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InstallationChargerFirmwareModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/constants": {
      "get": {
        "tags": ["Constants"],
        "summary": "Static Constants",
        "description": "Retrieves a set of predefined constants that rarely change but may be updated occasionally.  \r\nThese constants include schemas, enumerations, supported languages, country data,  \r\ncharger operation modes, network types, user roles, error codes, settings, and more.<br /><br />\r\nThis data provides system-wide reference values, reducing the need for frequent queries.",
        "operationId": "api_constants_get",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ConstantsModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstantsModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstantsModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/installation": {
      "get": {
        "tags": ["Installation"],
        "summary": "Installations",
        "description": "Retrieves all installations accessible by the current user, matching the provided filters.<br /><br />\r\nBy default, returns the first 50 items. Use <b>pageIndex</b> for pagination or adjust <b>pageSize</b> (max: 100).",
        "operationId": "api_installation_get",
        "parameters": [
          {
            "name": "Roles",
            "in": "query",
            "description": "Return only installations where current user has any of the provided user roles. Note\r\nthat this is a bit-flag and multiple roles can be provided.\n\n0 = None\n\n1 = User\n\n2 = Owner\n\n4 = Maintainer\n\n8 = Administrator\n\n15 = Any\n\n16 = Onboarding\n\n32 = DeviceAdministrator\n\n64 = PartnerAdministrator\n\n128 = Technical\n\n256 = InternalData",
            "schema": {
              "$ref": "#/components/schemas/UserRoles"
            }
          },
          {
            "name": "InstallationType",
            "in": "query",
            "description": "Return only installations of the provided type.\n\n0 = Pro\n\n1 = Smart",
            "schema": {
              "$ref": "#/components/schemas/InstallationTypeCode"
            }
          },
          {
            "name": "ExcludeIfVisibleForUserGroupLookupKey",
            "in": "query",
            "description": "Excludes installations that is visible for the user group identified by lookup key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NameFilter",
            "in": "query",
            "description": "A filter used to filter items. The filter may be applied to multiple\r\nproperties depending on the object type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ReturnIdNameOnly",
            "in": "query",
            "description": "If true objects are only returned with their basic properties like\r\nId and name.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SortProperty",
            "in": "query",
            "description": "Name of the property used to sort the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortDescending",
            "in": "query",
            "description": "Set to true to sort items in descending order.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Number of items to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "The page index to return, first page is 0.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IncludeDisabled",
            "in": "query",
            "description": "If true, and your user has access, include disabled objects.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "description": "Get or set a list of item Id's that will be excluded from the result.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationModelPagedData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationModelPagedData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationModelPagedData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/installation/{id}": {
      "get": {
        "tags": ["Installation"],
        "summary": "Installation details",
        "description": "Retrieves details for the specified installation.  \r\nThe level of detail available depends on the current user's permissions.",
        "operationId": "api_installation_{id}_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Installation ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "DetailLevel",
            "in": "query",
            "description": "0 = no extra details (default), 1 = include list of users that are present in the installation's charge history.\n\n0 = Default\n\n1 = UserDetails",
            "schema": {
              "$ref": "#/components/schemas/InstallationDetailLevelFlags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/installation/{id}/messagingConnectionDetails": {
      "get": {
        "tags": ["Installation"],
        "summary": "Messaging connection (deprecated)",
        "description": "Retrieves connection details for subscribing to live AMQP 1.0 charger events  \r\nfor the specified installation (requires owner or service permissions).<br /><br /><b>WARNING:</b> This feature is <b>deprecated</b>.  \r\nUse a single <b>User Group</b> subscription to receive updates for all installations instead.",
        "operationId": "api_installation_{id}_messagingconnectiondetails_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Installation ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionDescriptor"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionDescriptor"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionDescriptor"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": true,
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/installation/{id}/update": {
      "post": {
        "tags": ["Installation"],
        "summary": "Update installation",
        "description": "Updates installation properties (requires owner or service permissions).<br /><br /><b>Available Current:</b> Provide <b>either</b><i>AvailableCurrent</i>  \r\nor (<i>AvailableCurrentPhase1, AvailableCurrentPhase2, AvailableCurrentPhase3</i>).<br /><br />\r\nUpdating available current will instantly trigger phase and load balancing for the installation.  \r\nVehicles will adjust their charging settings within <b>5 seconds</b>.  \r\n<br /><br /><b>Usage Recommendations:</b><br />\r\n- Do not update this setting more than once every <b>15 minutes</b> to prevent charging interruptions.<br />\r\n- Available current is limited to the installation’s configured maximum current (circuit breaker current).<br />\r\n- If set to <b>null</b> (not provided), the installation will revert to its maximum current setting.<br />",
        "operationId": "api_installation_{id}_update_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Installation ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Installation properties to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationExternalUpdateModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationExternalUpdateModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationExternalUpdateModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationExternalUpdateModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/installation/{id}/hierarchy": {
      "get": {
        "tags": ["Installation"],
        "summary": "Installation hierarchy",
        "description": "Retrieves an installation along with its circuit and charger hierarchy  \r\n(requires owner or service permissions).<br /><br /><b>Note:</b> Only basic properties of the returned model will be populated.",
        "operationId": "api_installation_{id}_hierarchy_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Installation ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationTreeModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationTreeModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationTreeModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/session/{id}": {
      "get": {
        "tags": ["Session"],
        "summary": "Session details",
        "description": "Retrieves details for the specified charging session.",
        "operationId": "api_session_{id}_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionEndData"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/session/{id}/priority": {
      "post": {
        "tags": ["Session"],
        "summary": "Set session priority",
        "description": "Assigns priority to a charging session (requires owner or service permissions).<br /><br />\r\nPrioritized sessions are allocated before unprioritized ones and will receive\r\nat least the prioritized current.<br /><br /><b>Important considerations:</b><br />\r\n- Multiple sessions can be prioritized; the caller must ensure enough available current.<br />\r\n- If there is insufficient current, prioritized sessions are allocated on a first-come, first-served basis.<br />\r\n- After allocating prioritized sessions, any remaining current is distributed among unprioritized sessions.<br />",
        "operationId": "api_session_{id}_priority_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Priority level for the session",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ChargePriority"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargePriority"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargePriority"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChargePriority"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/api/userGroups/{id}/messagingConnectionDetails": {
      "get": {
        "tags": ["UserGroup"],
        "summary": "Messaging connection",
        "description": "Retrieves connection details for subscribing to live AMQP 1.0 charger events  \r\nfor installations within the specified user group (requires owner or service permissions).<br /><br />\r\nFor more details on working with AMQP and Service Bus, refer to the  \r\n<a href=\"https://learn.microsoft.com/en-us/azure/service-bus-messaging/\" target=\"_blank\">\r\nMicrosoft Azure Service Bus documentation</a>.",
        "operationId": "api_usergroups_{id}_messagingconnectiondetails_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User Group ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionDescriptor"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionDescriptor"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionDescriptor"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AggregateGroup": {
        "enum": [0, 1, 2],
        "type": "integer",
        "description": "0 = group by charger (default), 1 = group by calendar day, 2 = group by user.\n\n0 = Charger\n\n1 = Day\n\n2 = User",
        "format": "int32",
        "x-enumNames": ["Charger", "Day", "User"]
      },
      "ChargePriority": {
        "type": "object",
        "properties": {
          "prioritizedPhases": {
            "$ref": "#/components/schemas/MaxPhase"
          },
          "prioritizedCurrent": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChargerExternalUpdateModel": {
        "type": "object",
        "properties": {
          "maxChargeCurrent": {
            "type": "number",
            "description": "Adjustable between 0 and 32A. If charge current is below the charger minimum charge\r\ncurrent (usually 6A), no charge current will be allocated.",
            "format": "double",
            "nullable": true
          },
          "maxChargePhases": {
            "$ref": "#/components/schemas/MaxPhase"
          },
          "minChargeCurrent": {
            "type": "number",
            "description": "The minimum allocated charge current. If there is not enough current available to\r\nprovide the chargers minimum current it will not be able to charge. Usually set to\r\nmatch the vehicle minimum current for charging (defaults to 6A).",
            "format": "double",
            "nullable": true
          },
          "offlineChargeCurrent": {
            "type": "number",
            "description": "Adjustable between 0 and 32A. If offline charge current is below the charger minimum charge\r\ncurrent (usually 6A), no charge current will be allocated when offline.\r\nOffline current override should only be done in special cases where charging \r\nstations should not automatically optimize offline current. In most cases \r\nthis setting should be set to -1 to allow ZapCloud to optimise offline current.\r\nIf -1, offline current will be automatically allocated.",
            "format": "double",
            "nullable": true
          },
          "offlineChargePhase": {
            "$ref": "#/components/schemas/Phases"
          },
          "meterValueInterval": {
            "type": "integer",
            "description": "The interval in seconds for a charger to report meter values.\r\nDefaults to 900 seconds for Pro and 3600 seconds for Go",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChargerListModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Get the unique identifier of the charge point.",
            "format": "uuid"
          },
          "mid": {
            "type": "string",
            "description": "<strong>This property is obsolete and is scheduled for removal,</strong>\r\n            please use `DeviceId` instead.",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "deviceId": {
            "type": "string",
            "description": "Get the deviceId (serialNo) of the charging stations used with the charge point.",
            "nullable": true
          },
          "serialNo": {
            "type": "string",
            "description": "<strong>This property is obsolete and is scheduled for removal,</strong>\r\n            please use `Name` instead.",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "name": {
            "type": "string",
            "description": "Get the name of the charge point.",
            "nullable": true
          },
          "createdOnDate": {
            "type": "string",
            "description": "Get the date and time the installation was created.",
            "format": "date-time",
            "nullable": true
          },
          "circuitId": {
            "type": "string",
            "description": "Get the unique identifier the charge point is installed in.",
            "format": "uuid",
            "nullable": true
          },
          "active": {
            "type": "boolean",
            "description": "Get a value indicating whether the charge point is active.",
            "nullable": true
          },
          "currentUserRoles": {
            "$ref": "#/components/schemas/UserRoles"
          },
          "pin": {
            "type": "string",
            "description": "Get the charger PIN code. This will only be provided if your user is system owner\r\nfor the charge point.",
            "nullable": true
          },
          "templateId": {
            "type": "string",
            "description": "Get the unique identifier of the chargers firmware template.",
            "format": "uuid",
            "nullable": true
          },
          "propertyOcppUrl": {
            "type": "string",
            "nullable": true
          },
          "propertyOcppPassword": {
            "type": "string",
            "nullable": true
          },
          "propertyPinOfflinePhase": {
            "type": "boolean",
            "nullable": true
          },
          "propertyAuthenticationDisabled": {
            "type": "boolean",
            "nullable": true
          },
          "hasSessions": {
            "type": "boolean",
            "nullable": true
          },
          "propertyOfflinePhaseOverride": {
            "$ref": "#/components/schemas/Phases"
          },
          "propertyOfflineCurrentOverride": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertyOcppVerboseLogUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "propertyOcppDefaultIdTag": {
            "type": "string",
            "nullable": true
          },
          "propertyOcppWebSocketPingInterval": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "propertyPrioritizedCurrent": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertyPrioritizedPhases": {
            "$ref": "#/components/schemas/MaxPhase"
          },
          "propertyMaxSinglePhaseChargeCurrent": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertyOcppAvailability": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "propertyOcppOfflineListVersion": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "signedMeterValueKwh": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "signedMeterValue": {
            "type": "string",
            "nullable": true
          },
          "signedSessionEichrecht": {
            "type": "string",
            "nullable": true
          },
          "deviceType": {
            "$ref": "#/components/schemas/DeviceType"
          },
          "installationName": {
            "type": "string",
            "nullable": true
          },
          "installationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "authenticationType": {
            "$ref": "#/components/schemas/InstallationAuthenticationType"
          },
          "isAuthorizationRequired": {
            "type": "boolean",
            "nullable": true
          },
          "operatingMode": {
            "$ref": "#/components/schemas/ChargerOperatingMode"
          },
          "isOnline": {
            "type": "boolean"
          },
          "warnings": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChargerListModelPagedData": {
        "type": "object",
        "properties": {
          "pages": {
            "type": "integer",
            "format": "int32"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChargerListModel"
            },
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChargerOperatingMode": {
        "enum": [0, 1, 2, 3, 5],
        "type": "integer",
        "description": "\n\n0 = Unknown\n\n1 = Disconnected\n\n2 = Connected_Requesting\n\n3 = Connected_Charging\n\n5 = Connected_Finished",
        "format": "int32",
        "x-enumNames": [
          "Unknown",
          "Disconnected",
          "Connected_Requesting",
          "Connected_Charging",
          "Connected_Finished"
        ]
      },
      "ChargerStateModel": {
        "type": "object",
        "properties": {
          "chargerId": {
            "type": "string",
            "format": "uuid"
          },
          "stateId": {
            "type": "integer",
            "format": "int32"
          },
          "stateName": {
            "type": "string",
            "nullable": true
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "valueAsString": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommandId": {
        "enum": [
          0, 1, 2, 102, 103, 104, 105, 106, 107, 108, 109, 200, 201, 260, 261,
          262, 300, 320, 321, 322, 323, 324, 501, 502, 503, 504, 505, 506, 507,
          601, 602, 603, 700, 708, 750, 751, 800, 801, 802, 803, 804, 805, 901,
          902, 950, 951, 10000, 10001, 10999
        ],
        "type": "integer",
        "description": "\n\n0 = Unknown\n\n1 = InChargePingReply\n\n2 = OfflineModeOverride\n\n102 = RestartCharger\n\n103 = RestartMcu\n\n104 = UpdateSettings\n\n105 = RestartNtp\n\n106 = ExitAppWithCode\n\n107 = RestartApplication\n\n108 = ReprovisionIotHub\n\n109 = ReprovisionDps\n\n200 = UpgradeFirmware\n\n201 = UpgradeFirmwareForced\n\n260 = ResetComErrors\n\n261 = ResetNotifications\n\n262 = ResetComWarnings\n\n300 = LocalSettings\n\n320 = SetPlcNpw\n\n321 = SetPlcCCoMode\n\n322 = SetPlcNmk\n\n323 = SetRemotePlcNmk\n\n324 = SetRemotePlcNpw\n\n501 = StartCharging\n\n502 = StopCharging\n\n503 = ReportChargingState\n\n504 = SetSessionId\n\n505 = SetUserUuid\n\n506 = StopChargingFinal\n\n507 = ResumeCharging\n\n601 = ShowGranted\n\n602 = ShowDenied\n\n603 = IndicateAppConnect\n\n700 = RequestSignedMIDEventLog\n\n708 = UnlockConnector\n\n750 = ConfirmChargeCardAdded\n\n751 = SetAuthenticationList\n\n800 = Debug\n\n801 = GetPlcTopology\n\n802 = ResetPlc\n\n803 = RemoteCommand\n\n804 = RunGridTest\n\n805 = ClearObservationCache\n\n901 = RunPostProductionTest\n\n902 = GetFirmwareVersion\n\n950 = DumpPilotCounter\n\n951 = RunPilotTest\n\n10000 = CombinedMin\n\n10001 = DeauthorizeAndStop\n\n10999 = CombinedMax",
        "format": "int32",
        "x-enumNames": [
          "Unknown",
          "InChargePingReply",
          "OfflineModeOverride",
          "RestartCharger",
          "RestartMcu",
          "UpdateSettings",
          "RestartNtp",
          "ExitAppWithCode",
          "RestartApplication",
          "ReprovisionIotHub",
          "ReprovisionDps",
          "UpgradeFirmware",
          "UpgradeFirmwareForced",
          "ResetComErrors",
          "ResetNotifications",
          "ResetComWarnings",
          "LocalSettings",
          "SetPlcNpw",
          "SetPlcCCoMode",
          "SetPlcNmk",
          "SetRemotePlcNmk",
          "SetRemotePlcNpw",
          "StartCharging",
          "StopCharging",
          "ReportChargingState",
          "SetSessionId",
          "SetUserUuid",
          "StopChargingFinal",
          "ResumeCharging",
          "ShowGranted",
          "ShowDenied",
          "IndicateAppConnect",
          "RequestSignedMIDEventLog",
          "UnlockConnector",
          "ConfirmChargeCardAdded",
          "SetAuthenticationList",
          "Debug",
          "GetPlcTopology",
          "ResetPlc",
          "RemoteCommand",
          "RunGridTest",
          "ClearObservationCache",
          "RunPostProductionTest",
          "GetFirmwareVersion",
          "DumpPilotCounter",
          "RunPilotTest",
          "CombinedMin",
          "DeauthorizeAndStop",
          "CombinedMax"
        ]
      },
      "CommitMetadata": {
        "enum": [0, 1, 2, 4, 8, 16, 32, 64, 128],
        "type": "integer",
        "description": "\n\n0 = None\n\n1 = Online\n\n2 = Offline\n\n4 = ReliableClock\n\n8 = StoppedByRFID\n\n16 = Signed\n\n32 = Void\n\n64 = Aborted\n\n128 = OcppNative",
        "format": "int32",
        "x-enumNames": [
          "None",
          "Online",
          "Offline",
          "ReliableClock",
          "StoppedByRFID",
          "Signed",
          "Void",
          "Aborted",
          "OcppNative"
        ]
      },
      "ConnectionDescriptor": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ConnectionType"
          },
          "host": {
            "type": "string",
            "nullable": true
          },
          "port": {
            "type": "integer",
            "format": "int32"
          },
          "useSSL": {
            "type": "boolean"
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "password": {
            "type": "string",
            "nullable": true
          },
          "topic": {
            "type": "string",
            "nullable": true
          },
          "subscription": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ConnectionType": {
        "enum": [0],
        "type": "integer",
        "description": "\n\n0 = Amqp10",
        "format": "int32",
        "x-enumNames": ["Amqp10"]
      },
      "ConstantsModel": {
        "type": "object",
        "properties": {
          "languages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LanguageModel"
            },
            "description": "Key value list of languages supported in portal",
            "nullable": true
          },
          "countries": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CountryModel"
            },
            "description": "List of supported countries with country information",
            "nullable": true
          },
          "installationCategories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstallationCategoryModel"
            },
            "description": "Key value list of installation categories",
            "nullable": true
          },
          "installationTypes": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/InstallationTypeConstantModel"
            },
            "description": "List of installation types with information",
            "nullable": true
          },
          "userRoles": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/UserRoles"
            },
            "description": "List of user roles with role ID",
            "nullable": true
          },
          "networkTypes": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/NetworkType"
            },
            "description": "Electrical network types (Phase and system type)",
            "nullable": true
          },
          "chargerOperationModes": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ChargerOperatingMode"
            },
            "description": "List of charger operating modes",
            "nullable": true
          },
          "phases": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Phases"
            },
            "description": "Electrical phases",
            "nullable": true
          },
          "wildcardGuid": {
            "type": "string",
            "format": "uuid"
          },
          "regionalInfo": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/RegionalInfoModel"
            },
            "description": "List of region info",
            "nullable": true
          },
          "messageCodes": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/MessageCode"
            },
            "description": "List of codes indicating eg. info, error, ..",
            "nullable": true
          },
          "errorCodes": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ErrorCode"
            },
            "description": "List of codes used in Zaptec.ZapCloud.Infrastructure.AspNetCore.Models.Error response object",
            "nullable": true
          },
          "settings": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SettingId"
            },
            "description": "Smart device Settings",
            "nullable": true,
            "deprecated": true
          },
          "commands": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CommandId"
            },
            "description": "Smart device Commands",
            "nullable": true,
            "deprecated": true
          },
          "observations": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ObservationId"
            },
            "description": "Smart device Observations",
            "nullable": true,
            "deprecated": true
          },
          "schema": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SchemaModel"
            },
            "description": "Dict with device specific commandId, warnings and so on",
            "nullable": true
          },
          "objectTypes": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ObjectType"
            },
            "description": "ZapCloud object types",
            "nullable": true
          },
          "version": {
            "type": "string",
            "description": "Portal frontend version",
            "nullable": true
          },
          "smartWarnings": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "nullable": true,
            "deprecated": true
          },
          "varisciteWarnings": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/VarisciteWarnings"
            },
            "nullable": true,
            "deprecated": true
          },
          "phaseIdMap": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhaseIdMapConstantModel"
            },
            "description": "Map of all electrical phase IDs",
            "nullable": true
          },
          "deviceLogTypes": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/DeviceLogType"
            },
            "description": "Types of log messages from devices",
            "nullable": true
          },
          "features": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Features"
            },
            "nullable": true
          },
          "installationTypeConstraints": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ConstraintErrors"
            },
            "nullable": true
          },
          "sessionCommitMetadata": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CommitMetadata"
            },
            "nullable": true
          },
          "installationUpdateStatusCodes": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/InstallationUpdateStatusCodes"
            },
            "nullable": true
          },
          "entityTypes": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/EntityType"
            },
            "nullable": true
          },
          "deviceTypes": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/DeviceType"
            },
            "nullable": true
          },
          "installationAuthenticationType": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/InstallationAuthenticationType"
            },
            "nullable": true
          },
          "energyPrices": {
            "$ref": "#/components/schemas/EnergyPriceConstantModel"
          },
          "userActionTypes": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/UserActionType"
            },
            "description": "List of valid types of User Actions",
            "nullable": true
          },
          "ocppCloudUrlVersions": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/OcppCloudUrlVersion"
            },
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Model containing all constants"
      },
      "ConstraintErrors": {
        "enum": [0, 1, 2, 4, 8, 16],
        "type": "integer",
        "description": "\n\n0 = Valid\n\n1 = MaxCircuits\n\n2 = MaxCircuitCurrent\n\n4 = MaxChargers\n\n8 = UnsupportedFeature\n\n16 = IncompatibleCharger",
        "format": "int32",
        "x-enumNames": [
          "Valid",
          "MaxCircuits",
          "MaxCircuitCurrent",
          "MaxChargers",
          "UnsupportedFeature",
          "IncompatibleCharger"
        ]
      },
      "CountryModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "timeZoneName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CustomTotalChargerReportModel": {
        "type": "object",
        "properties": {
          "installationName": {
            "type": "string",
            "nullable": true
          },
          "installationAddress": {
            "type": "string",
            "nullable": true
          },
          "installationZipCode": {
            "type": "string",
            "nullable": true
          },
          "installationCity": {
            "type": "string",
            "nullable": true
          },
          "installationTimeZone": {
            "type": "string",
            "nullable": true
          },
          "groupedBy": {
            "type": "string",
            "nullable": true
          },
          "fromdate": {
            "type": "string",
            "format": "date-time"
          },
          "enddate": {
            "type": "string",
            "format": "date-time"
          },
          "totalUserChargerReportModel": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TotalUserChargerReportModel"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DeliveryArea": {
        "enum": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
        "type": "integer",
        "description": "\n\n0 = Unknown\n\n1 = NO1\n\n2 = NO2\n\n3 = NO3\n\n4 = NO4\n\n5 = NO5\n\n6 = SE1\n\n7 = SE2\n\n8 = SE3\n\n9 = SE4\n\n10 = DK1\n\n11 = DK2\n\n12 = FI\n\n13 = NL\n\n14 = BE",
        "format": "int32",
        "x-enumNames": [
          "Unknown",
          "NO1",
          "NO2",
          "NO3",
          "NO4",
          "NO5",
          "SE1",
          "SE2",
          "SE3",
          "SE4",
          "DK1",
          "DK2",
          "FI",
          "NL",
          "BE"
        ]
      },
      "DetailLevelFlags": {
        "enum": [0, 1],
        "type": "integer",
        "description": "Determines the detail level to return.\n\n0 = Summary\n\n1 = EnergyDetails",
        "format": "int32",
        "x-enumNames": ["Summary", "EnergyDetails"],
        "x-enumFlags": true
      },
      "DeviceLogType": {
        "enum": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
        "type": "integer",
        "description": "\n\n0 = OcppIn\n\n1 = OcppOut\n\n2 = OcppError\n\n3 = OcppConnected\n\n4 = OcppConnectionFailed\n\n5 = OcppClientClose\n\n6 = IotCommandExecuted\n\n7 = IotCommandFailed\n\n8 = IotCloudSettingUpdated\n\n9 = SessionCommit\n\n10 = OfflineSessionCommit\n\n11 = AuthorizationRequest\n\n12 = AuthorizationSuccess\n\n13 = AuthorizationError\n\n14 = AuthorizationFailed",
        "format": "int32",
        "x-enumNames": [
          "OcppIn",
          "OcppOut",
          "OcppError",
          "OcppConnected",
          "OcppConnectionFailed",
          "OcppClientClose",
          "IotCommandExecuted",
          "IotCommandFailed",
          "IotCloudSettingUpdated",
          "SessionCommit",
          "OfflineSessionCommit",
          "AuthorizationRequest",
          "AuthorizationSuccess",
          "AuthorizationError",
          "AuthorizationFailed"
        ]
      },
      "DeviceType": {
        "enum": [0, 1, 2, 3, 4, 5, 6, 7],
        "type": "integer",
        "description": "\n\n0 = Unknown\n\n1 = Smart\n\n2 = Portable\n\n3 = HomeApm\n\n4 = Apollo\n\n5 = OtherApm\n\n6 = GenericApm\n\n7 = HanApm",
        "format": "int32",
        "x-enumNames": [
          "Unknown",
          "Smart",
          "Portable",
          "HomeApm",
          "Apollo",
          "OtherApm",
          "GenericApm",
          "HanApm"
        ]
      },
      "EnergyPriceConstantModel": {
        "type": "object",
        "properties": {
          "deliveryArea": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/DeliveryArea"
            },
            "nullable": true
          },
          "priceUnit": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PriceUnit"
            },
            "nullable": true
          },
          "countryDeliveryAreas": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/DeliveryArea"
              },
              "nullable": true
            },
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Energy price area info"
      },
      "EntityType": {
        "enum": [0, 1, 2],
        "type": "integer",
        "description": "\n\n0 = Unknown\n\n1 = Installation\n\n2 = Charger",
        "format": "int32",
        "x-enumNames": ["Unknown", "Installation", "Charger"]
      },
      "ErrorCode": {
        "enum": [
          500, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515,
          516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529,
          530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542
        ],
        "type": "integer",
        "description": "\n\n500 = Unknown\n\n503 = MissingRequiredData\n\n504 = UnknownSetting\n\n505 = OperationFailedForUnknownReasons\n\n506 = NotApplicableForUser\n\n507 = UnknownUser\n\n508 = RfidTokenInUse\n\n509 = SignUpTooManyRequests\n\n510 = EmailInUse\n\n511 = CellPhoneInUse\n\n512 = UnknownObject\n\n513 = InvalidPassword\n\n514 = IncorrectPassword\n\n515 = UserActivationLinkExpired\n\n516 = LinkRequestExpired\n\n517 = ChargerDeviceIdExists\n\n518 = UnknownDeviceId\n\n519 = UnknownCommand\n\n520 = ErrorCommunicatingWithDevice\n\n521 = StringIsNotAWellFormedVersion\n\n522 = FirmwareVersionExists\n\n523 = FirmwareFileExists\n\n524 = CreateConflict\n\n525 = DeviceFirmwareNotConfigured\n\n526 = FeatureNotEnabled\n\n527 = NotSupported\n\n528 = DeviceCommandRejected\n\n529 = InvalidFormat\n\n530 = MailSendFailed\n\n531 = ConcurrencyError\n\n532 = ConfigurationError\n\n533 = Forbidden\n\n534 = InstallationTypeViolation\n\n535 = PaymentFailed\n\n536 = PaymentAuthorizationRequired\n\n537 = OperationFailedActiveSubscriptions\n\n538 = OperationFailedDueToChargerState\n\n539 = InstallationConstraintViolation\n\n540 = UnknownInstallationId\n\n541 = UnknownEnergySensorId\n\n542 = UnauthorizedToPerformOcppNativeChanges",
        "format": "int32",
        "x-enumNames": [
          "Unknown",
          "MissingRequiredData",
          "UnknownSetting",
          "OperationFailedForUnknownReasons",
          "NotApplicableForUser",
          "UnknownUser",
          "RfidTokenInUse",
          "SignUpTooManyRequests",
          "EmailInUse",
          "CellPhoneInUse",
          "UnknownObject",
          "InvalidPassword",
          "IncorrectPassword",
          "UserActivationLinkExpired",
          "LinkRequestExpired",
          "ChargerDeviceIdExists",
          "UnknownDeviceId",
          "UnknownCommand",
          "ErrorCommunicatingWithDevice",
          "StringIsNotAWellFormedVersion",
          "FirmwareVersionExists",
          "FirmwareFileExists",
          "CreateConflict",
          "DeviceFirmwareNotConfigured",
          "FeatureNotEnabled",
          "NotSupported",
          "DeviceCommandRejected",
          "InvalidFormat",
          "MailSendFailed",
          "ConcurrencyError",
          "ConfigurationError",
          "Forbidden",
          "InstallationTypeViolation",
          "PaymentFailed",
          "PaymentAuthorizationRequired",
          "OperationFailedActiveSubscriptions",
          "OperationFailedDueToChargerState",
          "InstallationConstraintViolation",
          "UnknownInstallationId",
          "UnknownEnergySensorId",
          "UnauthorizedToPerformOcppNativeChanges"
        ]
      },
      "Features": {
        "enum": [0, 1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 32768],
        "type": "integer",
        "description": "\n\n0 = None\n\n1 = Api_MessageSubscription\n\n2 = Authentication_Internal\n\n4 = PowerManagement_Apm\n\n8 = PowerManagement_EcoMode\n\n16 = PowerManagement_Schedule\n\n32 = PowerManagement_Apm_PowerLimit\n\n64 = Connectivity_4G\n\n128 = Authentication_Ocpp\n\n256 = PowerManagement_Apm_Tariff_PowerLimit\n\n512 = Authentication_OcppNative\n\n32768 = LoadBalacing",
        "format": "int32",
        "x-enumNames": [
          "None",
          "Api_MessageSubscription",
          "Authentication_Internal",
          "PowerManagement_Apm",
          "PowerManagement_EcoMode",
          "PowerManagement_Schedule",
          "PowerManagement_Apm_PowerLimit",
          "Connectivity_4G",
          "Authentication_Ocpp",
          "PowerManagement_Apm_Tariff_PowerLimit",
          "Authentication_OcppNative",
          "LoadBalacing"
        ],
        "x-enumFlags": true
      },
      "GroupByOptions": {
        "enum": [0, 1, 2],
        "type": "integer",
        "description": "\n\n0 = User\n\n1 = Charger\n\n2 = ChargeCardName",
        "format": "int32",
        "x-enumNames": ["User", "Charger", "ChargeCardName"]
      },
      "InstallationAuthenticationType": {
        "enum": [0, 1, 2, 3],
        "type": "integer",
        "description": "\n\n0 = Native\n\n1 = WebHooks\n\n2 = Ocpp\n\n3 = OcppNative",
        "format": "int32",
        "x-enumNames": ["Native", "WebHooks", "Ocpp", "OcppNative"]
      },
      "InstallationAvailableCurrentMode": {
        "enum": [0, 1, 2],
        "type": "integer",
        "description": "\n\n0 = Manual\n\n1 = Schedule\n\n2 = Auto",
        "format": "int32",
        "x-enumNames": ["Manual", "Schedule", "Auto"]
      },
      "InstallationCategoryModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "category": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InstallationChargeHistoryModel": {
        "type": "object",
        "properties": {
          "fromDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "installationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "userIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "chargerIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "groupBy": {
            "$ref": "#/components/schemas/GroupByOptions"
          },
          "reportFormat": {
            "$ref": "#/components/schemas/ReportFormatOptions"
          }
        },
        "additionalProperties": false
      },
      "InstallationChargerFirmwareModel": {
        "type": "object",
        "properties": {
          "chargerId": {
            "type": "string",
            "format": "uuid"
          },
          "deviceId": {
            "type": "string",
            "nullable": true
          },
          "isOnline": {
            "type": "boolean",
            "nullable": true
          },
          "currentVersion": {
            "type": "string",
            "nullable": true
          },
          "availableVersion": {
            "type": "string",
            "nullable": true
          },
          "deviceType": {
            "$ref": "#/components/schemas/DeviceType"
          },
          "isUpToDate": {
            "type": "boolean",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "InstallationDetailLevelFlags": {
        "enum": [0, 1],
        "type": "integer",
        "description": "Determines the detail level to return for an installation.\n\n0 = Default\n\n1 = UserDetails",
        "format": "int32",
        "x-enumNames": ["Default", "UserDetails"],
        "x-enumFlags": true
      },
      "InstallationExternalUpdateModel": {
        "type": "object",
        "properties": {
          "availableCurrent": {
            "type": "number",
            "description": "Available current to set on all phases.",
            "format": "double",
            "nullable": true
          },
          "availableCurrentPhase1": {
            "type": "number",
            "description": "Available current to set on phase 1. When setting current on individual phases, any\r\nphase without specified current will be set to default.",
            "format": "double",
            "nullable": true
          },
          "availableCurrentPhase2": {
            "type": "number",
            "description": "Available current to set on phase 2. When setting current on individual phases, any\r\nphase without specified current will be set to default.",
            "format": "double",
            "nullable": true
          },
          "availableCurrentPhase3": {
            "type": "number",
            "description": "Available current to set on phase 3. When setting current on individual phases, any\r\nphase without specified current will be set to default.",
            "format": "double",
            "nullable": true
          },
          "maxCurrent": {
            "type": "number",
            "description": "The maximum allowed current for the installation. This setting requires caller to\r\nhave service permission (electrician) for the installation.",
            "format": "double",
            "nullable": true
          },
          "minPowerOfflineMode": {
            "type": "boolean",
            "description": "When set to true, offline power will be limited to the chargers miniumum \r\ncharge current.",
            "nullable": true
          },
          "threeToOnePhaseSwitchCurrent": {
            "type": "number",
            "description": "Set 3to1 switch current for installation",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InstallationModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "zipCode": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "countryId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "vatNumber": {
            "type": "string",
            "nullable": true
          },
          "contactEmail": {
            "type": "string",
            "nullable": true
          },
          "installationType": {
            "$ref": "#/components/schemas/InstallationTypeCode"
          },
          "maxCurrent": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "availableCurrent": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "availableCurrentPhase1": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "availableCurrentPhase2": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "availableCurrentPhase3": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "availableCurrentMode": {
            "$ref": "#/components/schemas/InstallationAvailableCurrentMode"
          },
          "availableCurrentScheduleWeekendActive": {
            "type": "boolean",
            "nullable": true
          },
          "threeToOnePhaseSwitchCurrent": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "defaultThreeToOneSwitchCurrent": {
            "type": "number",
            "format": "double"
          },
          "installationCategoryId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "installationCategory": {
            "type": "string",
            "nullable": true
          },
          "useLoadBalancing": {
            "type": "boolean",
            "nullable": true
          },
          "isRequiredAuthentication": {
            "type": "boolean",
            "nullable": true
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "active": {
            "type": "boolean",
            "nullable": true
          },
          "networkType": {
            "$ref": "#/components/schemas/NetworkType"
          },
          "availableInternetAccessPLC": {
            "type": "boolean",
            "nullable": true
          },
          "availableInternetAccessWiFi": {
            "type": "boolean",
            "nullable": true
          },
          "createdOnDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "currentUserRoles": {
            "$ref": "#/components/schemas/UserRoles"
          },
          "authenticationType": {
            "$ref": "#/components/schemas/InstallationAuthenticationType"
          },
          "webhooksAuthPayload": {
            "type": "string",
            "nullable": true
          },
          "webhooksAuthUrl": {
            "type": "string",
            "nullable": true
          },
          "webhooksSessionStartUrl": {
            "type": "string",
            "nullable": true
          },
          "webhooksSessionEndUrl": {
            "type": "string",
            "nullable": true
          },
          "messagingEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "routingId": {
            "type": "string",
            "nullable": true
          },
          "ocppCloudUrl": {
            "type": "string",
            "nullable": true
          },
          "ocppCloudUrlVersion": {
            "$ref": "#/components/schemas/OcppCloudUrlVersion"
          },
          "ocppInitialChargePointPassword": {
            "type": "string",
            "nullable": true
          },
          "ocppCentralSystemUrl": {
            "maxLength": 2038,
            "type": "string",
            "nullable": true
          },
          "timeZoneName": {
            "type": "string",
            "description": "Time zone display name",
            "nullable": true
          },
          "timeZoneIanaName": {
            "type": "string",
            "description": "IANA time zone identifier",
            "nullable": true
          },
          "updateStatusCode": {
            "$ref": "#/components/schemas/InstallationUpdateStatusCodes"
          },
          "notifications": {
            "$ref": "#/components/schemas/InstallationNotifications"
          },
          "isSubscriptionsAvailableForCurrentUser": {
            "type": "boolean",
            "nullable": true
          },
          "installationUsers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstallationUserModel"
            },
            "nullable": true
          },
          "availableFeatures": {
            "$ref": "#/components/schemas/Features"
          },
          "enabledFeatures": {
            "$ref": "#/components/schemas/Features"
          },
          "activeChargerCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "feature_PowerManagement_EcoMode_DepartureTime": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "feature_PowerManagement_EcoMode_MinEnergy": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "feature_PowerManagement_EcoMode_DeliveryArea": {
            "$ref": "#/components/schemas/DeliveryArea"
          },
          "feature_PowerManagement_Apm_PowerBudgetKw": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "feature_PowerManagement_Apm_PowerRolloverPercentage": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "feature_PowerManagement_Apm_EvaluationMinutes": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertyTariffKwhLimit": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertyIsMinimumPowerOfflineMode": {
            "type": "boolean",
            "nullable": true
          },
          "propertyOfflineModeAllowAnonymous": {
            "type": "boolean",
            "nullable": true
          },
          "propertyEnergySensorUniqueId": {
            "type": "string",
            "nullable": true
          },
          "energySensor": {
            "$ref": "#/components/schemas/SensorModel"
          },
          "propertyMainFuseCurrent": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertyEnergySensorTransmitInterval": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "propertyEnergySensorTransmitThreshold": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertyEnergySensorAverage": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "propertyMinimumAvailableCurrentPhase1": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertyMinimumAvailableCurrentPhase2": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertyMinimumAvailableCurrentPhase3": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertyLockToMinimumAvailableCurrent": {
            "type": "boolean",
            "nullable": true
          },
          "propertyOcppDefaultIdTag": {
            "type": "string",
            "nullable": true
          },
          "propertyEnergySensorRippleEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "propertyEnergySensorRippleNumBits": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "propertyEnergySensorRipplePercentBits00": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "propertyEnergySensorRipplePercentBits01": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "propertyEnergySensorRipplePercentBits10": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "propertyHomeApmOrdered": {
            "type": "boolean",
            "nullable": true
          },
          "propertyEnergySensorScalingFactor": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertyEnergySensorIsOffline": {
            "type": "boolean",
            "nullable": true
          },
          "propertyFirmwareAutomaticUpdates": {
            "type": "boolean",
            "nullable": true,
            "deprecated": true
          },
          "propertyMaxSinglePhaseChargeCurrent": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertySessionMaxStopCount": {
            "type": "integer",
            "description": "The maximum number of times a session can be stopped before the charging station will stick to single\r\nphase charging. Note that start commands that require phase shifting will require a stop and will add to\r\nthe counter.",
            "format": "int32",
            "nullable": true
          },
          "supportGroup": {
            "$ref": "#/components/schemas/UserGroupModel"
          }
        },
        "additionalProperties": false
      },
      "InstallationModelPagedData": {
        "type": "object",
        "properties": {
          "pages": {
            "type": "integer",
            "format": "int32"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstallationModel"
            },
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InstallationNotifications": {
        "enum": [0, 1, 2],
        "type": "integer",
        "description": "\n\n0 = None\n\n1 = ServicePaymentPastDue\n\n2 = ServicePaymentUnpaid",
        "format": "int32",
        "x-enumNames": [
          "None",
          "ServicePaymentPastDue",
          "ServicePaymentUnpaid"
        ],
        "x-enumFlags": true
      },
      "InstallationTreeChargerModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Get the unique identifier of the charge point.",
            "format": "uuid"
          },
          "deviceId": {
            "type": "string",
            "description": "Get the deviceId (serialNo) of the charging stations used with the charge point.",
            "nullable": true
          },
          "mid": {
            "type": "string",
            "description": "<strong>This property is obsolete and is scheduled for removal,</strong>\r\n            please use `DeviceId` instead.",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "name": {
            "type": "string",
            "description": "Get the name of the charge point.",
            "nullable": true
          },
          "serialNo": {
            "type": "string",
            "description": "<strong>This property is obsolete and is scheduled for removal,</strong>\r\n            please use `Name` instead.",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "active": {
            "type": "boolean",
            "description": "Get a value indicating whether the charge point is active.",
            "nullable": true
          },
          "deviceType": {
            "$ref": "#/components/schemas/DeviceType"
          }
        },
        "additionalProperties": false
      },
      "InstallationTreeCircuitModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Get the unique identifier of the circuit.",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Get the circuit name.",
            "nullable": true
          },
          "maxCurrent": {
            "type": "number",
            "description": "Get the circuit max current (fuse rating).",
            "format": "double"
          },
          "isActive": {
            "type": "boolean",
            "description": "Get a value indicating whether the circuit is active."
          },
          "active": {
            "type": "boolean",
            "description": "<strong>This property is obsolete and is scheduled for removal,</strong>\r\n            please use `IsActive` instead.",
            "readOnly": true,
            "deprecated": true
          },
          "installationId": {
            "type": "string",
            "description": "Get the unique identifier of the circuits parent installation.",
            "format": "uuid"
          },
          "installationName": {
            "type": "string",
            "description": "Get the name of the circuits parent installation.",
            "nullable": true
          },
          "chargers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstallationTreeChargerModel"
            },
            "description": "Get a list of charger installed in the circuit.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InstallationTreeModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Get the unique identifier of the installation.",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Get the installation name.",
            "nullable": true
          },
          "installationName": {
            "type": "string",
            "description": "<strong>This property is obsolete and is scheduled for removal,</strong>\r\n            please use `InstallationName` instead.",
            "nullable": true,
            "readOnly": true,
[...]
